<!doctype html>
<html class="fsvs demo" lang="zh">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <script src="static/js/jquery.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="static/css/css2.css">
        <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/id.css">
    </head>
    <body>
        <div class="first-top">
            <div class="first-search">
                <input type="search" class="search" name="search" placeholder="">
            </div>
            <div id="three-nav">
                <span class="HOME">HOME</span>
                <span class="CENTER">CENTER</span>
                <span class="CENTER">CONTACT</span>
                <img src="static/img/nav.png" width="22px" class="first-nav-img">
            </div>
        </div>
        <div class="second-banner">
            <img src="static/img/banner.jpg">
        </div>
        <div class="middle">
            <div class="second-display">
                <img src="static/img/tp.jpg" width="180px;">
                <div class="second-display-1">
                    <b>艺术交流</b><br>
                    <span class="second-label">此处插入标签</span><br>
                    <span class="second-describe">此处插入描述</span>
                </div>
                <div class="second-address">2015.2.1 成都市天府广场摩尔百货</div>
                <button id="join-in" class="second-join">我想参加</button>
                <div class="abcd">
                    <div style="float:left;">
                        <a><img src="static/img/dz.png"><span class="number-of" id="number-of-praise">30</span><span class="tails">人气</span></a>
                    </div>
                    <div style="float:left;margin-left:8px;">
                        <a><img src="static/img/pl.png" style="top:5px;"><span class="number-of" id="number-of-recommend">30</span><span class="tails">评论</span></a>
                    </div>
                    <div style="float:left;margin-left:8px;">
                        <a><img src="static/img/cj.png"><span class="number-of" id="number-of-join">30</span><span class="tails">参加</span></a>
                    </div>
                    <div style="float:left;margin-left:8px;">
                        <a><img src="static/img/sc.png"><span class="tails">收藏</span></a>
                    </div>
                </div>
            </div>
            <div class="second-display"></div>
            <div class="second-display"></div>
            <div class="second-display"></div>
            <div class="second-display"></div>
            <div class="second-display"></div>
        </div>
        <div class="footer">
            <div class="second-about"><b>ABOUT</b><br><br>ABOUT US<br>ADVERTISE<br>PRESS ROOM<br>LEGALS<br>FEEDBACK<br>WRITE FOR US</div>
            <div class="second-connect"><b>CONNECT</b><br></div>
            <div class="second-other">©2000-2015 版权信息<br>地址：111111111111<br>电话：666666666666</div>
        </div>
    </body>
</html>